.signup-section-content {
    font-family: 'Atkinson Hyperlegible';
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.signup-section-content input,
.signup-section-content button {
    font-family: 'Atkinson Hyperlegible';
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signup-section-content h1 {
    color: black;
    font-family: 'Atkinson Hyperlegible';
    font-size: 2.2rem;
}

.signup-section-content input {
    width: 80%;
}

.signup-section-content button {
    background-color: rgba(red, green, blue, 0.7);
    color: black;
    border: none;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signup-section-content button p {
    font-size: 0.9rem;
}

.signup-section-content button i {
    font-size: 1.4rem;
}

.signup-section-content button:hover {
    background-color: lightgray;
}

.signup-div-buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signin {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.signin a {
    color: #efb11d;
    margin-left: 5px;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}

.btn-signup {
    width: 80%;
    background-color: #efb11d;
}

.signup-nav-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

input::placeholder,
input {
    font-size: 0.9rem;
}