.card {
    font-family: 'Atkinson Hyperlegible';
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.rating {
    margin-top: 10px;
}

.star {
    color: lightgrey;
    font-size: 20px;
}

.star.filled {
    color: #efb11d;
}
