.course-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.course-list-item:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.course-list-item:active {
    border-color: black;
}

.course-list-item:last-child {
    border-bottom: none;
}

.course-details {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.course-name {
    font-size: 16px;
    margin: 0;
}

.tutor-info {
    display: flex;
    align-items: center;
}

.tutor-name {
    font-size: 14px;
    margin-right: 5px;
}

.verification-icon {
    width: 16px;
    height: 16px;
}

.course-rating {
    font-size: 14px;
    color: #777;
}

.subject {
    font-size: 0.9rem;
    font-weight: 100;
}
